In [6]:
import pandas as pd
import numpy as np

# Generate synthetic dataset
np.random.seed(42)

num_molecules = 10
molecule_ids = np.arange(1, num_molecules + 1)

# Generate free energy values (negative random values)
free_energies = -np.abs(np.random.normal(loc=50, scale=10, size=num_molecules))

# Create DataFrame
df = pd.DataFrame({
    "Molecule_ID": molecule_ids,
    "Free_Energy": free_energies
})

print(df.head)

df.to_csv("molecule_free_energy.csv", index=False)

<bound method NDFrame.head of    Molecule_ID  Free_Energy
0            1   -54.967142
1            2   -48.617357
2            3   -56.476885
3            4   -65.230299
4            5   -47.658466
5            6   -47.658630
6            7   -65.792128
7            8   -57.674347
8            9   -45.305256
9           10   -55.425600>

In [7]:
df

   Molecule_ID  Free_Energy
0            1   -54.967142
1            2   -48.617357
2            3   -56.476885
3            4   -65.230299
4            5   -47.658466
5            6   -47.658630
6            7   -65.792128
7            8   -57.674347
8            9   -45.305256
9           10   -55.425600

In [3]:
import sqlite3

# Replace 'your_database_file.db' with the name of your .db file
conn = sqlite3.connect('molecules_pubchem.db')
cursor = conn.cursor()

In [4]:
# List all tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:", tables)

# Get the schema of a specific table (replace 'your_table_name' with an actual table name)
cursor.execute("PRAGMA table_info(your_table_name);")
schema = cursor.fetchall()
print("Schema for your_table_name:", schema)

Tables in the database: [('molecules',)]
Schema for your_table_name: []

In [5]:
import pandas as pd

# Query a specific table and load it into a pandas DataFrame
df = pd.read_sql_query("SELECT * FROM molecules;", conn)

# Display the first few rows of the DataFrame
print(df.head())

   molecule_id   molecule_name  pubchem_cid  free_energy  \
0            1         methane          297   -54.967142
1            2           water          962   -48.617357
2            3         ammonia          222   -56.476885
3            4  carbon dioxide          280   -65.230299
4            5          ethane         6324   -47.658466

                                        xyz_filepath molecular_formula  \
0      pubchem_xyz_structures/molecule_1_methane.xyz               CH4
1        pubchem_xyz_structures/molecule_2_water.xyz               H2O
2      pubchem_xyz_structures/molecule_3_ammonia.xyz               H3N
3  pubchem_xyz_structures/molecule_4_carbon_dioxi...               CO2
4       pubchem_xyz_structures/molecule_5_ethane.xyz              C2H6

   molecular_weight         created_date
0            16.043  2025-08-28 14:48:14
1            18.015  2025-08-28 14:48:17
2            17.031  2025-08-28 14:48:20
3            44.009  2025-08-28 14:48:23
4            30.070  2025-08-28 14:48:31